In [4]:
import numpy as np
import pandas as pd
import os
import re
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors


import glob
import fnmatch

In [5]:
base_path = '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/'
file_path = os.path.join(base_path,'*.dat')

file_name_list =  glob.glob(file_path) 

file_name_list

['/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/R_cs021-65.dat',
 '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/DELTA_bro300-65.dat',
 '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/PSI_cs021-65.dat',
 '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/s1_cs021-65.dat',
 '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/bro300-65.dat',
 '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/DELTA_cs021-65.dat',
 '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/s1_bro300-65.dat',
 '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/e1_cs021-65.dat',
 '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/R_bro300-65.dat',
 '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/e2_cs021-65.dat',
 '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/test-bro300-65.dat',
 '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/cs021-65.dat',
 '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/n_bro300-65.dat',
 '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/e1_bro300-65.dat',
 '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/test-bro300.dat',
 '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/PSI_bro300-65.dat',
 '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/e2_bro300-65.dat',
 '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/n_cs021-65.dat']

In [9]:
# List to store files with "bro300" and "cs021" respectively
bro300_files = []
cs021_files = []

# Iterate over files in the directory
#for filename in os.listdir(file_name_list):
for filename in file_name_list:
    # Check if the filename contains "bro300"
    if "bro300" in filename:
        bro300_files.append(filename)
    # Check if the filename contains "cs021"
    elif "cs021" in filename:
        cs021_files.append(filename)

# Print the results
print("Files with 'bro300':", bro300_files)
print("Files with 'cs021':", cs021_files)

Files with 'bro300': ['/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/DELTA_bro300-65.dat', '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/bro300-65.dat', '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/s1_bro300-65.dat', '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/R_bro300-65.dat', '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/test-bro300-65.dat', '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/n_bro300-65.dat', '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/e1_bro300-65.dat', '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/test-bro300.dat', '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/PSI_bro300-65.dat', '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/e2_bro300-65.dat']
Files with 'cs021': ['/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/R_cs021-65.dat', '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/PSI_cs021-65.dat', '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/s1_cs021-65.dat', '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/DELTA_cs021-65.dat', '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/e1_cs021-65.dat', '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/e2_cs021-65.dat', '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/cs021-65.dat', '/Users/bordonis/ResearchActivities/Perovskite/ellipsometry/n_cs021-65.dat']

In [20]:
df = pd.read_csv(bro300_files[0], delim_whitespace=True, header=None, names=['lambda', 'Delta'])

In [21]:
df

         lambda      Delta
0    44900.0020  112.56671
1    44700.0000  111.27944
2    44500.0020  111.53202
3    44299.9980  112.92292
4    44099.9990  111.40317
..          ...        ...
196   5300.0002  168.65718
197   5099.9998  168.20625
198   4899.9998  179.95983
199   4700.0000  137.85189
200   4499.9999  180.00000

[201 rows x 2 columns]

In [23]:
df["lambda"] = [(a * 10**-7)**-1 for a in df["lambda"]]

In [24]:
df

          lambda      Delta
0     222.717139  112.56671
1     223.713647  111.27944
2     224.719091  111.53202
3     225.733645  112.92292
4     226.757375  111.40317
..           ...        ...
196  1886.792382  168.65718
197  1960.784391  168.20625
198  2040.816410  179.95983
199  2127.659574  137.85189
200  2222.222272  180.00000

[201 rows x 2 columns]